[submodule "extern/PiggyPlugins"]
	path = extern/PiggyPlugins
	url = git@github.com:agge3/agge-plugins-tmp.git
[submodule "lib/EthanVannPlugins"]
	path = lib/EthanVannPlugins
	url = git@github.com:Ethan-Vann/EthanVannPlugins.git
[submodule "lib/shortest-path"]
	path = lib/shortest-path
	url = git@github.com:agge3/shortest-path.git
[submodule "shortest-path"]
	path = shortest-path
	url = git@github.com:agge3/shortest-path.git
